<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Graduated info</title>
</head>
<body>
<div th:replace="header"></div>
<div>
    <div>
        <h2>Info about Graduated</h2>
        <table class="table">
            <tr>
                <td>Id:</td>
                <td>
                    <b th:text="${graduated.id}"></b>
                </td>
            </tr>
            <tr>
                <td>First Name:</td>
                <td>
                    <b th:text="${graduated.firstName}"></b>
                </td>
            </tr>
            <tr>
                <td>Last Name:</td>
                <td>
                    <b th:text="${graduated.lastName}"></b>
                </td>
            </tr>
            <tr>
                <td>Company:</td>
                <td>
                    <b th:text="${graduated.company}"></b>
                </td>
            </tr>
            <tr>
                <td>Position:</td>
                <td>
                    <b th:text="${graduated.position}"></b>
                </td>
            </tr>
            <tr>
                <td>Graduation Year:</td>
                <td>
                    <b th:datetime="${graduated.graduationYear}"></b>
                </td>
            </tr>
            <tr>
                <td>Photo:</td>
                <td>
                    <img th:src="@{${graduated.photosImagePath}}" alt="" width="100" height="100"/>
                </td>
            </tr>
        </table>
        <div>
            <a th:href="@{|/graduates/${graduated.id}/update|}">Edit</a>
            <a th:href="@{|/graduates/${graduated.id}/delete|}">Remove</a>
        </div>
    </div>
</div>
</body>
</html>