<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Graduated info</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" >
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
    <style>
        body {
            background: #f4f4f4
        }
    </style>
</head>
<body>
<div th:replace="header"></div>
<div class="container my-2">
    <div>
        <h2>Info about Graduated</h2>
        <table class="table">
            <tr>
                <td>Id:</td>
                <td>
                    <b th:text="${graduated.id}"></b>
                </td>
            </tr>
            <tr>
                <td>First Name:</td>
                <td>
                    <b th:text="${graduated.firstName}"></b>
                </td>
            </tr>
            <tr>
                <td>Last Name:</td>
                <td>
                    <b th:text="${graduated.lastName}"></b>
                </td>
            </tr>
            <tr>
                <td>Company:</td>
                <td>
                    <b th:text="${works.company}"></b>
                </td>
            </tr>
            <tr>
                <td>Position:</td>
                <td>
                    <b th:text="${works.position}"></b>
                </td>
            </tr>
            <tr>
                <td>Graduation Year from Bachelor:</td>
                <td>
                    <b th:text="${graduated.graduationYearFromBachelor}"></b>
                </td>
            </tr>
            <tr>
                <td>Graduation Year from Master:</td>
                <td>
                    <b th:text="${graduated.graduationYearFromMaster}"></b>
                </td>
            </tr>
            <tr>
                <td>Graduation Year from Specialist:</td>
                <td>
                    <b th:text="${graduated.graduationYearFromOrkSpecialist}"></b>
                </td>
            </tr>
            <tr>
                <td>Photo:</td>
                <td>
                    <img th:src="@{${graduated.photosImagePath}}" alt="" width="100" height="100"/>
                </td>
            </tr>
        </table>
        <div>
            <a class="btn btn-outline-success" th:href="@{|/graduates/${graduated.id}/update|}">Edit</a>
            <a class="btn btn-outline-success" th:href="@{|/graduates/${graduated.id}/delete|}">Remove</a>
            <a class="btn btn-outline-success" th:href="@{|/works/${graduated.id}/graduated/${graduated.id}|}">Go to history</a>
        </div>
    </div>
</div>
</body>
</html>