<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update Graduated</title>
</head>
<body>

<div th:replace="header"></div>
<div class="col-md-offset-2">
    <h2>Update Existing Graduated</h2>
</div>
<div>
    <form enctype="multipart/form-data"  class="form-horizontal" method="post" th:action="@{/graduates/create}" th:object="${graduated}">
        <div class="form-group">
            <label for="id">ID:</label>
            <div class="col-sm-8">
                <input class="form-control" disabled id="id" type="text"/>
            </div>
        </div>
        <div>
            <label for="first-name">First name:</label>
            <div>
                <input id="first-name" th:field="*{firstName}" type="text"/>
                <small th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></small>
            </div>
        </div>
        <div>
            <label for="last-name">Last name:</label>
            <div>
                <input id="last-name" th:field="*{lastName}" type="text"/>
                <small th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></small>
            </div>
        </div>
        <div>
            <label for="middle-name">Middle name:</label>
            <div>
                <input id="middle-name" th:field="*{middleName}" type="text"/>
                <small th:if="${#fields.hasErrors('middleName')}" th:errors="*{middleName}"></small>
            </div>
        </div>
        <div>
            <label>Sex:</label>
            <div>
                <input id="option1" name="man" type="radio" th:value="Man" th:field="*{gender}"> Man
                <input id="option2" name="women" type="radio" th:value="Women" th:field="*{gender}"> Women
                <small th:if="${#fields.hasErrors('gender')}" th:errors="*{gender}"></small>
            </div>
        </div>
        <div>
            <label for="email">E-mail:</label>
            <div>
                <input id="email" th:field="*{email}" type="text"/>
                <small th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></small>
            </div>
        </div>
        <div>
            <label for="position">Position:</label>
            <div>
                <input id="position" th:field="*{position}" type="text"/>
                <small th:if="${#fields.hasErrors('position')}" th:errors="*{position}"></small>
            </div>
        </div>
        <div>
            <label for="company">Company:</label>
            <div>
                <input id="company" th:field="*{company}" type="text"/>
                <small th:if="${#fields.hasErrors('company')}" th:errors="*{company}"></small>
            </div>
        </div>
        <div>
            <label for="graduation-year-from-bachelor">Graduation Year From Bachelor:</label>
            <div>
                <input id="graduation-year-from-bachelor" th:field="*{graduationYearFromBachelor}" type="text"/>
                <small th:if="${#fields.hasErrors('graduationYearFromBachelor')}" th:errors="*{graduationYearFromBachelor}"></small>
            </div>
        </div>
        <div>
            <label for="graduation-year-from-specialist">Graduation Year From ORK Specialist:</label>
            <div>
                <input id="graduation-year-from-specialist" th:field="*{graduationYearFromOrkSpecialist}" type="text"/>
                <small th:if="${#fields.hasErrors('graduationYearFromOrkSpecialist')}" th:errors="*{graduationYearFromOrkSpecialist}"></small>
            </div>
        </div>
        <div>
            <label for="graduation-year-from-master">Graduation Year From Master:</label>
            <div>
                <input id="graduation-year-from-master" th:field="*{graduationYearFromMaster}" type="text"/>
                <small th:if="${#fields.hasErrors('graduationYearFromMaster')}" th:errors="*{graduationYearFromMaster}"></small>
            </div>
        </div>
        <div>
            <label>Photos: </label>
            <div>
                <input type="file" name="image" accept="image/png, image/jpeg" />
            </div>
        </div>
        <div class="col-sm-offset-2 col-sm-8">
            <input class="btn btn-info" type="submit" value="Update"/>
            <input class="btn btn" type="reset" value="Clear"/>
            <input name="id" th:value="*{id}" type="hidden"/>
        </div>
    </form>
</div>
</body>
</html>